@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  background: white;
  filter: invert(1);
} */
/* You may need to install this extension https://marketplace.visualstudio.com/items?itemName=csstools.postcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

.b {
  border: 1px solid red;
}

.o {
  outline: 1px solid red;
}

button,
input,
textarea {
  @apply outline-none;
}

button[disabled] {
  @apply cursor-default;
}

.xy {
  @apply flex justify-center items-center;
}

a.rect,
button.rect {
  @apply font-semibold rounded-lg px-4 py-2 text-xl;
}
